/* Tablet */
@media (max-width: 768px) {

	body:: before {
		content: "Tablet media query (<768px) fired";
		font-weight: bold;
		display: block;
		text-align: center;
		background-color: rgba (255, 255, 0, 0.9);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 99;
	}
}