@charset "UTF-8";

* {
	cursor: url('../img/pixelated_donut.png'), auto;
	z-index: 99;
}

body {
	background-image: url('../img/fortune_cookies.jpg');
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-size: 80px;
	color: #fff;
	position: relative;

}

ul {
	list-style-type: none;
	/*margin-left: -2.5%*/
	text-align: center;
	margin: 0 auto;
	padding: 20px 20px 0px 20px;
	max-width: 1050px;
	vertical-align: middle;
}

ul li {
	display: inline-block;
	padding: 10px;
	margin-bottom: 2.5%;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: middle;
	box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

ul li img {
	width: 305px;
	height: auto;
	display: block;
	/*margin: 0 0 10px;*/
}

/* Mobile */

@media (max-width: 480px) {
	ul.grid-nav li {
		display: block;
		margin: 0 0 5px;
	}
	body {
		font-size: 0px;
	}

	ul.grid-nav li a {
		display: block;
	}
	ul {
		margin-left: 0;
		margin-right: 0;
	}
	ul li {
		/*width: 100% !important;*/
		margin: 0 0 15px;
	}
	ul li img {
}